body {
	height: 100vh;
}

/* 명언 */
.famous-saying-box {
	height: 150px;
	background-color: #333b3d;
}

.txt_bar {
	margin: 0 9px 0 5px;
	color: gray;
}

/* 게시글 , 댓글 작성자 날짜*/
.postInfo, #replyInfo {
	font-size: 15px;
	font-weight: 600;
	color: gray;
}

/*댓글 textarea 출력시 css*/
.replyTxt {
	word-wrap: break-word; /*영역 넘어가면 줄바꿈하기*/
	word-break: break-word; /* 영문의 경우 단어단위로 줄바꿈하기 */
}

a {
	color: gray;
}

a:hover {
	color: black;
}

.pic_mini {
	width: 25px;
	height: 25px;
	border-radius: 70%;
}