<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="model.StudyMember" alias="StudyMember" /> 

		<typeAlias type="model.StudyMenu" alias="StudyMenu" /> 

		<typeAlias type="model.Community" alias = "Community" />
		
		<typeAlias type="model.Search" alias = "Search" />

        <typeAlias type="model.Attend" alias = "attend" />
        
        <typeAlias type="model.group.GroupInList" alias = "groupinlist" />
        
          

        <typeAlias type="model.Notice" alias = "notice" />
        
        <typeAlias type="model.Reply" alias = "Reply" />

        <typeAlias type="model.GroupMember" alias = "groupmember" />
        
        <typeAlias type="model.WebChat" alias = "webchat" />
        
        <typeAlias type="model.ReputationEstimate" alias = "reputationestimate" />
        

        <typeAlias type="model.Report" alias = "Report" />

        <typeAlias type="model.GroupBoard" alias = "groupBoard" />
        

        
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver"
					value="oracle.jdbc.driver.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@localhost:1521:xe" />
				<property name="username" value="kic" />
				<property name="password" value="1111" />
			</dataSource>
		</environment>
	</environments>
	<mappers> 
        <mapper resource="mybatis/StudyMember.xml" /> 

        <mapper resource="mybatis/StudyMenu.xml" /> 

        <mapper resource ="mybatis/Community.xml" />
        
        <mapper resource ="mybatis/Attend.xml" />
        
        <mapper resource ="mybatis/Notice.xml" />

        <mapper resource = "mybatis/Reply.xml"/>

        <mapper resource = "mybatis/GroupMember.xml"/>
        
        <mapper resource = "mybatis/WebChat.xml"/>
        
        <mapper resource = "mybatis/ReputationEstimate.xml"/>
        
        <mapper resource = "mybatis/Report.xml"/>

        <mapper resource = "mybatis/GroupBoard.xml"/>
        

     </mappers>

</configuration>